* {
  box-sizing: border-box;
}

.header-container {
  height: 100vh;
  margin: 20px 60px;
  animation: b-g 6s infinite;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}
.header-container header {
  display: grid;
  grid-template-columns: 20% auto 20%;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  padding: 30px 0px;
}
.header-container .logo a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
.header-container .logo a span {
  color: #ffdd00;
}
.header-container .logo a span:first-child {
  color: grey;
  border: 1px solid #ffdd00;
  padding: 2px 10px;
  background-color: #ffdd00;
  border-radius: 5px;
}
.header-container .logo a span:last-child {
  color: grey;
}
.header-container .logo a:first-child {
  font-size: 2em;
  font-weight: 600;
}
.header-container .logo a:last-child {
  border: 1px solid white;
  padding: 2px 4px;
  border-radius: 6px;
  font-size: 18px;
}
.header-container .header-categories ul {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-between;
  gap: 25px;
}
.header-container .header-categories ul li {
  list-style: none;
}
.header-container .header-categories ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.header-container .header-categories ul li a:hover {
  border-bottom: 5px solid #ffdd00;
}
.header-container .header-categories ul li:last-child:hover a {
  border: none;
}
.header-container .header-icons {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}
.header-container .header-icons div a {
  text-decoration: none;
  margin: 0 10px;
  color: white;
  font-size: 18px;
}
.header-container .header-icons div a sup {
  font-weight: 600;
}
.header-container .header-icons div a:last-child {
  color: black;
  border: 1px solid;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffdd00;
  border: none;
}
.header-container b {
  position: absolute;
  width: 60px;
  height: 110px;
  background-color: #ffdd00;
  border-radius: 0px 180px 180px 0px;
  top: 45%;
  left: 0;
}
.header-container b i {
  position: absolute;
  font-size: 28px;
  top: 37%;
  left: 20%;
}
.header-container p {
  position: absolute;
  width: 60px;
  height: 110px;
  background-color: #ffdd00;
  border-radius: 180px 0px 0px 180px;
  top: 45%;
  right: 0;
}
.header-container p i {
  position: absolute;
  font-size: 28px;
  top: 37%;
  right: 20%;
}
@keyframes b-g {
  0% {
    background: url(../media/1rNRVmygtiKzZvPpkQkYkrOyeZ8yDGk61FdGqDbD.jpg);
  }
  25% {
    background: url(../media/cVMgkx6cPBbsceyXXMD6U99xZLBogjek7ViIUQ5Z.jpg);
  }
  50% {
    background: url(../media/ssQdbhnyXlJKtjoNmrIk9rRdpnK9ljcxMJSMESq2.jpg);
  }
  100% {
    background: url(../media/UgkvJeOcCrxrUo8XcPXhzA6EsSOS1gyUGUr2ZBpG.jpg);
  }
}

footer {
  background-color: #f9f9f9;
  font-family: sans-serif;
}
footer .boshfooter {
  gap: 56px;
  width: 1256px;
  margin-left: 130px;
  display: grid;
  grid-template-columns: 274px 274px 274px 274px;
}
footer .div1 .ii {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.549);
  background-color: #ffdd00;
  padding: 5px 10px;
  border-radius: 7px 0px 0px 7px;
}
footer .div1 span {
  color: black;
  font-size: 30px;
  letter-spacing: 1.7px;
  font-weight: 700;
  font-family: sans-serif;
}
footer .div1 .dot {
  color: #ffdd00;
}
footer .div1 .uz {
  color: rgba(0, 0, 0, 0.464);
}
footer .div1 .pi {
  margin-bottom: 80px;
}
footer .div1 .pi2 {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.558);
}
footer .div1 .pi3 {
  letter-spacing: 1.1px;
  line-height: 6px;
  color: black;
  font-size: 20px;
  font-weight: 700;
}
footer .div2 h2 {
  margin-bottom: 28px;
}
footer p {
  line-height: 26px;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.597);
}
footer .div4 p {
  line-height: 13px;
}
footer .yakun {
  display: block;
}

/*# sourceMappingURL=main.css.map */
