* {
    box-sizing: border-box;
}
.header-container {
    height: 100vh;
    margin: 20px 60px;
    animation: b-g 6s infinite;
    border-radius: 20px;
    cursor: pointer;
    position: relative;

    header {
        display: grid;
        grid-template-columns: 20% auto 20%;
        justify-content: space-around;
        align-items: center;
        font-family: sans-serif;
        padding: 30px 0px;
        
    }
    .logo {

        a {
      color: white;
      text-decoration: none;
      margin: 0 10px;
      
      span {
        color: #ffdd00;
      }

      span:first-child {
        color: grey;
        border: 1px solid #ffdd00;
        padding: 2px 10px;
        background-color: #ffdd00;
        border-radius: 5px;
      }
      span:last-child {
        color: grey;
      }
        }
        a:first-child {
            font-size: 2em;
            font-weight: 600;
        }
        a:last-child {
            border: 1px solid white;
            padding: 2px 4px;
            border-radius: 6px;
            font-size: 18px;
        }
    }
    .header-categories {

        ul {
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            justify-content: space-between;
            gap: 25px;
        
        li {
            list-style: none;

        
         a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            font-weight: 700;

            &:hover {
            border-bottom: 5px solid #ffdd00;    
            }
         } 
        }
        li:last-child {

            &:hover a {
                border: none;
            }
        }
    }
    }
    .header-icons {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
       
        div {
         
            a {
                text-decoration: none;
                margin: 0 10px;
                color: white;
                font-size: 18px;

                sup {
                    font-weight: 600;
                }
            }
            a:last-child {
                color: black;
                border: 1px solid;
                padding: 10px;
                border-radius: 50%;
                background-color: #ffdd00;
                border: none;
            }
        }
    }
    b {
        position: absolute;
        width: 60px;
        height: 110px;
        background-color: #ffdd00;
        border-radius: 0px 180px 180px 0px;
        top: 45%;
        left: 0;

        i {
            position: absolute;
            font-size: 28px;
            top: 37%;
            left: 20%;

        }
    }

    p {
        position: absolute;
        width: 60px;
        height: 110px;
        background-color: #ffdd00;
        border-radius: 180px 0px 0px 180px;
        top: 45%;
        right: 0;
        
        i {
            position: absolute;
            font-size: 28px;
            top: 37%;
            right: 20%;

        }
      }
        .fixed-button {
          text-decoration: none;
            position: fixed;
            top: 90vh;
            right: 3vh;

            i {
              position: relative;
              font-size: 22px;
              color: black;
              background-color: #ffdd00;
              padding: 15px;
              border-radius: 50%;
            }
            sup {
              font-weight: 600;
              position: absolute;
              top: -6%;
              right: -6%;
              color: white;
              background-color: crimson;
              padding: 4px 8px;
              border-radius: 50%;
            }
        }

    @keyframes b-g {
        0% {background: url(../media/1rNRVmygtiKzZvPpkQkYkrOyeZ8yDGk61FdGqDbD.jpg);}
        25% {background: url(../media/cVMgkx6cPBbsceyXXMD6U99xZLBogjek7ViIUQ5Z.jpg);}
        50% {background: url(../media/ssQdbhnyXlJKtjoNmrIk9rRdpnK9ljcxMJSMESq2.jpg);}
        100% {background: url(../media/UgkvJeOcCrxrUo8XcPXhzA6EsSOS1gyUGUr2ZBpG.jpg);}          
    }
}